body { margin: 0; padding: 0; background: url(../img/background_page.gif);}

.wp-caption,
img { max-width: 100%; height: auto; }

input:focus,
textarea:focus { border: 0; }

.page { margin: 0 auto; width: 990px; }
.clear { clear: both; }

.alignleft { float: left; margin: 0 15px 10px 0;}
.alignright { float: right; margin: 0 0 4px 15px ;}
.aligncenter { display: block; margin: 0 auto 15px auto; text-align: center; }
.photonic-post-gallery li.photonic-post-gallery-img { text-align: center; }
#postSingle .photonic-post-gallery-content img { float: none; }
iframe { margin: 15px auto; }
#content .error404 { margin: 0; padding: 10px 50px; }

#sharedTools { position: fixed; right: 0; top: 35%; padding: 1px 5px; width: 35px; background: url(../img/fond_share.gif) 0 0 no-repeat; z-index:2; }
#sharedTools .share { display: inline-block; padding-bottom: 10px; }
#sharedTools a { margin: 10px 0; }
#sharedTools a img { -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
#sharedTools a.facebook { width: 32px; height: 32px; }
#sharedTools a.facebook span.fb_share_count,
#sharedTools a.facebook span.fb_share_count_nub_right { display: none; }
#sharedTools a.facebook span  { margin: 0; padding: 0; border: 0; background: none; }

#border { height: 8px; background-position: 50% 50%; }
.home #border { background-image: url(../img/ligneTop_grise.gif); }
.category-1 #border { background: url(../img/pattern_bleu.gif) 0 0 fixed;}
.category-2 #border { background: url(../img/pattern_vert.gif) 0 0 fixed; }
.category-3 #border { background: url(../img/pattern_rouge.gif) 0 0 fixed; }
.category-4 #border { background: url(../img/pattern_orange.gif) 0 0 fixed; }
.category-5 #border { background: url(../img/pattern_violet.gif) 0 0 fixed; }
.category-6 #border { background: url(../img/pattern_gris.gif) 0 0 fixed; }
.category-7 #border { background: url(../img/pattern_lavande.gif) 0 0 fixed; }

.interne1C #leftColumn { display: none; }
#leftColumn { display: inline-block; width: 227px; }
#sidebar { margin-top: -15px; }
#sidebar .widget-container { margin: 15px 0; }
#sidebar .widget-container h3 { padding: 2px 5px; background: url(../img/fondTitre_menu2.gif) no-repeat; }
#sidebar .widget-container ul { margin-left: 20px; }
#sidebar .widget-container li { margin: 5px 0; }

#sidebar .widget_search { background-color: white; }
#sidebar .widget_search .field { padding: 2px 5px; width: 180px; height: 28px; border: 0; }
#sidebar .widget_search .submit { float: right; width: 32px; height: 32px; border: 0; background: url(../img/activ_noir.gif) no-repeat; }

#sidebar .tagcloud { padding: 0 10px; }

.interne1C #centerColumn { display: block; float: none; width: 100%; }
#centerColumn { display: inline-block; float: right; width: 730px; }

#catList { padding-bottom: 4px; background: url(../img/hr_sousMenu.gif) 50% 100% repeat-x; }
#catList li { display: inline; }
#catList a { display: inline-block; padding: 15px 10px; }
.category-1 #catList .cat-item-1 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_bleu.gif) 0 0 fixed; }
.category-2 #catList .cat-item-2 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_vert.gif) 0 0 fixed; }
.category-3 #catList .cat-item-3 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_rouge.gif) 0 0 fixed; }
.category-4 #catList .cat-item-4 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_orange.gif) 0 0 fixed; }
.category-5 #catList .cat-item-5 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_violet.gif) 0 0 fixed; }
.category-6 #catList .cat-item-6 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_gris.gif) 0 0 fixed; }
.category-7 #catList .cat-item-7 a { background: url(../img/activ_shadow.png) 0 100% repeat-x, url(../img/pattern_lavande.gif) 0 0 fixed; }

#postList .post { position: relative; margin: 20px 0; padding: 20px 25px; min-height: 190px; border-top: 2px dashed #e9e9e9; border-bottom: 2px dashed #e9e9e9; background-color: white; }
#postList .post .tested { position: absolute; top: -5px; left: -5px; width: 82px; height: 83px; }
#postList .post .comments-link { display: inline-block; margin-top: -9px; }
#postList .post .thumbnail { float: left; width: 190px;}
#postList .post .infos { float: right; width: 470px; }
#postList .category-1 .tested { background: url(../img/labelTest_bleu.png) no-repeat; }
#postList .category-2 .tested { background: url(../img/labelTest_vert.png) no-repeat; }
#postList .category-3 .tested { background: url(../img/labelTest_rouge.png) no-repeat; }
#postList .category-4 .tested { background: url(../img/labelTest_orange.png) no-repeat; }
#postList .category-5 .tested { background: url(../img/labelTest_violet.png) no-repeat; }
#postList .category-6 .tested { background: url(../img/labelTest_gris.png) no-repeat; }
#postList .category-7 .tested { background: url(../img/labelTest_lavande.png) no-repeat; }

#postList .breve { margin: 20px 0; padding: 10px 25px; border-top: 2px dashed #e9e9e9; border-bottom: 2px dashed #e9e9e9; background-color: #f2f2f2; }
#postList .breve .date,
#postList .breve h2 { display: inline; }


#postSingle .entry-content .photonic-post-gallery-content,
#postSingle .entry-content .photonic-post-gallery-nav { clear: both; display: block; margin: 5px 0; }
#postSingle .entry-content .photonic-post-gallery-nav li { float: none; display: inline; margin: 0 4px; }
#postSingle .entry-content .photonic-post-gallery-nav li a { display: inline-block; }

.navigation { margin: 20px 0; padding: 10px 25px; min-height: 20px; border-top: 2px dashed #e9e9e9; border-bottom: 2px dashed #e9e9e9; background-color: #f2f2f2; }
.nav-previous { float: left; }
.nav-next { float: right; }

#postSingle { margin: 75px 0 20px; padding: 40px; border-top: 2px dashed #e9e9e9; border-bottom: 2px dashed #e9e9e9; background-color: white; }
#postSingle .test4u { display: block; }
#postSingle .entry-content p,
#postSingle .entry-content ul { margin: 15px 0; }
#postSingle .entry-content ul { margin-left: 20px; }
#postSingle .wp-caption { padding: 3px; background-color: #f7f7f7; }
#postSingle .entry-content .wp-caption-text { margin: 0; }
#postSingle .entry-content blockquote { margin-left: 30px; padding-left: 15px; border-left: 2px solid #cccccc; }

pre { padding: 10px; background-color: #f5f5f5; }

#commentBloc { position: relative; margin: 20px 0; padding: 20px 40px; min-height: 418px; border-top: 2px dashed #e9e9e9; border-bottom: 2px dashed #e9e9e9; background-color: #4c4c4c; }
#commentBloc h3 { margin-bottom: 10px; }
#commentAdd p { margin: 3px 0; }
#commentAdd .comment-form-author,
#commentAdd .comment-form-email,
#commentAdd .comment-form-url { display: inline-block; width: 45%; }
#commentAdd input[type="text"] { display: block; padding: 4px 5px; width: 85%; border: 4px solid #838181; }
#commentAdd textarea { display: block; margin-bottom: 80px; width: 84.5%; border: 4px solid #838181; }
#commentAdd #submit { position: absolute; top: -4px; right: 0; padding-top: 270px; width: 109px; height: 418px; background: url(../img/btn_poster_commentaire.gif) no-repeat; border: 0; cursor: pointer; }

#commentsList { color: white; }
#commentsList ol { margin-left: 0; padding-left: 0; }
#commentsList ul { margin-left: 30px; padding-left: 0; }
#commentsList li { list-style-type: none; }
#commentsList .comment p { margin: 10px 0; }
#commentsList .comment img { float: left; margin-right: 10px; }
#commentsList .comment .date { display: block; }
#commentsList .comment .comment-body { display: block; }
#commentsList .reply { padding: 4px 5px; min-height: 15px; background: url(../img/hr_commentaire.gif) 100% 0 no-repeat; }

#commentsList #respond { position: relative; }
#commentsList #respond h3 { margin-bottom: 10px; }
#commentsList #respond p { margin: 3px 0; }
#commentsList #respond .comment-form-author,
#commentsList #respond .comment-form-email,
#commentsList #respond .comment-form-url { display: inline-block; width: 45%; }
#commentsList #respond input[type="text"] { display: block; padding: 4px 5px; width: 85%; border: 4px solid #838181; }
#commentsList #respond textarea { display: block; margin-bottom: 30px; width: 84.5%; border: 4px solid #838181; }
#commentsList #respond #submit { position: absolute; top: 0px; bottom: -40px; right: -40px; padding-top: 270px; width: 109px; background: url(../img/btn_poster_commentaire.gif) 0 100% no-repeat; border: 0; cursor: pointer; }

.no-results input[type="text"] { padding: 4px 5px; border: 4px solid #838181; }
.no-results .submit { margin-left: -2px; width: 32px; height: 32px; border: 0; background: url(../img/activ_noir.gif) no-repeat; }