@import 'functions.less';
@import 'columns.less';
@import 'powermail.less';

/*********************************
*********** Set Margin ***********
*********************************/
h1{ .margin(2,0,1,0); }
h2{ .margin(3,0,1,0); }
h3{ .margin(2,0,0,0); }
h3{ .margin(2,0,0,0); }
p,p.bodytext{ .margin(1,0,1,0); }
td p, td p.bodytext{ .margin; }
ul{
  .margin; .padding(.5,1,.5,2);
  li{ .margin(.5,0,.5,0); }
}

/*********************************
*********** Font size ***********
*********************************/
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: @defaultFontSize; line-height: 1.3em; }
li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, button { font-size: 100%; }
input, select, textarea { font-family: @defaultFont; }
h1, .h1-like { font-size: 2.4em; }
h2, .h2-like { font-size: 3.2em; }
h3, .h3-like { font-size: 1.8em; }
h4, .h4-like { font-size: 1.6em; }
h5, .h5-like { font-size: 1.4em; }

/*********************************
************ General *************
*********************************/
.page { margin: 0 auto; width: @maxWidth; }

/*********************************
************* Header *************
*********************************/
#header{
}

#logo{
	
}


#topNav{
	.inline-block;
	li{
		display: inline;
	}
}

#mainNav {
	li{
		display: inline;
	}
}

.content {
}


/*********************************
************* Footer *************
*********************************/
.footer {  }

#bottomNav{
	text-align: right;
	li{
		display: inline;
	}
}