@import 'bootstrap.css';
/*********************************
****** Globals Parameters ********
*********************************/
/* Font & Background Colors */
/* Fonts */
/*********************************
************ Functions ***********
*********************************/
/*********************************
*********** Set Margin ***********
*********************************/
h1 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
h2 {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
h3 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
h3 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
p, p.bodytext {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
td p, td p.bodytext {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
}
ul li {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}
/*********************************
************ General *************
*********************************/
.flex5050 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 2% 0 0;
  width: 48.5%;
}
.flex5050 .col5050-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.flex7030 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 2% 0 0;
  width: 69%;
}
.flex7030 .col7030-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 29%;
}
.flex3070 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 30.6122449%;
  margin: 0 2% 0 0;
}
.flex3070 .col3070-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 66.3877551%;
}
.flex333333 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 2% 0 0;
  width: 32%;
}
.flex333333 .col333333-3 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.flex6040 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 2% 0 0;
  width: 59%;
}
.flex6040 .col6040-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 39%;
}
.flex4060 .column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin: 0 2% 0 0;
  width: 39%;
}
.flex4060 .col4060-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 59%;
}
.page {
  margin: 0 auto;
  width: 990px;
}
/*********************************
************* Header *************
*********************************/
/*********************************
************* Footer *************
*********************************/
