.flex5050 {
    .column { .inline-block; margin: 0 2% 0 0; width: 48.5%; }
    .column-2 { .inline-block; .margin; }
}

.flex7030{
    .column { .inline-block; margin: 0 2% 0 0; width: 65.698%; }
    .column-2 { .inline-block; .margin; width: 32%; }
}

.flex3070{
    .column { .inline-block; width: 32%; margin: 0 2% 0 0; }
    .column-2 { .inline-block; width: 65.698%; }
}

.flex333333{
    .column { .inline-block; margin: 0 1.6986% 0 0; width: 32%; }
    .column-3 { .inline-block; .margin; }
}

.flex6040 {
    .column { .inline-block; margin: 0 2% 0 0; width: 59%; }
    .column-2 { .inline-block; .margin; width: 39%; }
}

.flex4060{
    .column { .inline-block; margin: 0 2% 0 0; width: 39%; }
    .column-2 {.inline-block; .margin; width: 59%; }
}