/*********************************
****** Globals Parameters ********
*********************************/
@maxWidth           : 990px;
@marginSize         : 10;
@columnWidth        : 60;
@defaultLineHeight  : 16;
@defaultFont        : @default;
@defaultFontSize    : 1.3em;
@radius             : 5px;

/* Font & Background Colors */
@white      : #FFFFFF;
@black      : #000000;

/* Fonts */
@default   : Arial, sans-serif;