@import 'functions.less';



.error {
    .padding(.3, 1, .5, 1); height:auto; .border-radius; .box-shadow(0, 0, 6px, @gray); background-color: @errorRed; z-index:10; color: @white;
    p { .margin; .padding; font-weight: bold; }
    em { display:block; position: absolute; bottom: -10px; left: 5px; width: 0; height: 0; border: 10px solid; border-bottom: 0 none; border-color: @errorRed transparent transparent; }
}