/*********************************
****** Globals Parameters ********
*********************************/
/* Font & Background Colors */
/* Fonts */
/*********************************
************ Functions ***********
*********************************/
/*********************************
************** Reset *************
*********************************/
html {
  font-size: 62.5%;
  line-height: 1.3em;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #000000;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
a:hover {
  text-decoration: underline;
}
