body { font-family: 'Inika', serif; text-align: center; color: #8b8383; }

.column { vertical-align: top; }

#sharedTools .share { font-family: Arial, sans-serif; font-size: 0.8em; color: white; }

#postSingle .category-1 .test4u,
#postSingle .category-1 a,
#postSingle .category-1 h4,
#catList .cat-item-1 a:hover,
#postList .category-1 a:hover { color: #5b9ec9; }
#postSingle .category-2 .test4u,
#postSingle .category-2 a,
#postSingle .category-2 h4,
#catList .cat-item-2 a:hover,
#postList .category-2 a:hover { color: #9ead43; }
#postSingle .category-3 .test4u,
#postSingle .category-3 a,
#postSingle .category-3 h4,
#catList .cat-item-3 a:hover,
#postList .category-3 a:hover { color: #de5d5a; }
#postSingle .category-4 .test4u,
#postSingle .category-4 a,
#postSingle .category-4 h4,
#catList .cat-item-4 a:hover,
#postList .category-4 a:hover { color: #ed8837; }
#postSingle .category-5 .test4u,
#postSingle .category-5 a,
#postSingle .category-5 h4,
#catList .cat-item-5 a:hover,
#postList .category-5 a:hover { color: #a833c1; }
#postSingle .category-6 .test4u,
#postSingle .category-6 a,
#postSingle .category-6 h4,
#catList .cat-item-6 a:hover,
#postList .category-6 a:hover { color: #a08475; }
#postSingle .category-7 .test4u,
#postSingle .category-7 a,
#postSingle .category-7 h4,
#catList .cat-item-7 a:hover,
#postList .category-7 a:hover { color: #a3959c; }

#catList li a:hover,
#catList .current a { color: #5b9ec9; }

a { color: #676775; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
p { font-size: 0.95em; }
ul { font-size: 0.95em; }


.page { text-align: left; }

#sidebar .widget-container h3 { font-size: 1.75em; color: #5d5e5d; }
#sidebar .widget-container a { font-weight: bold; color: #8b8383; text-decoration: none; }
#sidebar .widget-container a:hover { text-decoration: underline; }

#sidebar .widget_search .submit { font-weight: bold; color: white; }

#sidebar .tagcloud { font-size: 1.1em; }

#catList { text-align: right; }
#catList a { font-size: 1.15em; font-weight: bold; text-transform: uppercase; text-decoration: none;  }
.category-1 #catList .cat-item-1 a,
.category-2 #catList .cat-item-2 a,
.category-3 #catList .cat-item-3 a,
.category-4 #catList .cat-item-4 a,
.category-5 #catList .cat-item-5 a,
.category-6 #catList .cat-item-6 a,
.category-7 #catList .cat-item-79 a { color: white; }

#postList .post h2 { font-size: 1.95em; }
#postList .post h2 a { color: #1c1917; text-decoration: none; }
#postList .post .date { font-size: 1.5em; font-weight: bold; color: #d1cece; text-transform: uppercase; }
#postList .post .date a { color: #d1cece; }
#postList .post .date a:hover { text-decoration: none; }
#postList .post .entry-content a:hover { text-decoration: none; }
#postList .post .comments-link { font-size: 0.5em; text-transform: none; color: #1c1917; vertical-align: middle; }
#postList .post .comments-link a { color: #1c1917; }

#postList .breve h2 { font-size: 0.95em; font-weight: normal; color: #726a6a; }
#postList .breve .date { font-weight: bold; color: #726a6a; }


.navigation a { font-size: 0.95em; font-weight: bold; color: #726a6a; text-decoration: none; }
.navigation a:hover { text-decoration: underline; }

#postSingle .post h2 { font-size: 1.95em; color: #1c1917; text-transform: uppercase; }
#postSingle .post h2 .test4u { font-size: 0.65em; line-height: 1em; }
#postSingle .entry-meta { font-size: 1.5em; font-weight: bold; color: #d1cece; text-transform: uppercase; }
#postSingle .entry-meta a { color: #d1cece; }
#postSingle .entry-meta a:hover { text-decoration: none; }
#postSingle .entry-content h3 { font-size: 1.5em; color: #726a6a; }
#postSingle .entry-content p { text-align: justify; }
#postSingle .entry-utility a { text-decoration: none; }
#postSingle .entry-utility a:hover { text-decoration: underline; }
#postSingle .entry-content a { text-decoration: underline; }
#postSingle .entry-content a:hover { text-decoration: none; }
#postSingle .entry-utility { text-align: right; }
#postSingle .entry-content .wp-caption-text { font-size: 0.9em; text-align: center; }

#postSingle .post p,
#postSingle .post li { font-size: 1em; line-height: 1.3em; }

.gallery .gallery-item { float: left; margin: 0 5px; width: auto; }

#commentBloc h3 { font-size: 1.5em; color: #d1d1d1; }
#commentAdd { color: #d1d1d1; }
#commentAdd #submit { font-size: 1em; font-weight: bold; text-transform: uppercase; color: white; }

#commentsList .comment-author cite { font-weight: bold; font-style: normal; font-size: 1.55em; line-height: 1em; }
#commentsList .comment-author .date { color: #9c9c9c; text-transform: capitalize; }
#commentsList a { color: white; text-decoration: none; }
#commentsList a:hover { text-decoration: underline; }
#commentsList .comment p { text-align: justify; }
#commentsList .comment .reply { font-size: 0.8em; text-align: right; }
#commentsList .comment .reply a { text-decoration: none; color: white; }
#commentsList .comment .reply a:hover { text-decoration: underline; }

#commentsList #respond #submit { font-size: 1em; font-weight: bold; text-transform: uppercase; color: white; }

.no-results .submit { font-weight: bold; color: white; }